build/
managed_components/
dependencies.lock
sdkconfig
sdkconfig.old
test/host/test
test/host/test.dSYM/
keys/
.cache/
build.log
__pycache__/
*.swp
test/host/mbedtls/
test/host/mbedtls.a
build-secure/
release/
*.egg-info/
.DS_Store
